---
import { PROJECTS } from './data/projects';
import Github from './files/Github.astro';
import ProjectModal from './ProjectModal.tsx';
import VideoIcon from './files/VideoIcon.astro';
import InfoIcon from './files/InfoIcon.astro';
---

<style>
  .proyects {
    color: var(--color-text);
    background: linear-gradient(281deg, #19191a, #1a1a1c);
    min-height: 100vh;
    display: flex;
    font-family: 'Poppins', sans-serif;
  }

  .proyects__container {
    margin: auto;
    max-width: 1200px;
    width: 100%;
    padding: 100px 60px;
  }

  .proyects__content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 55px;
  }

  .proyects__title {
    font-size: 2.5rem;
    font-family: var(--font-family);
  }

  .proyects__zone-info {
    width: 100px;
  }

  .proyects__illu {
    border-radius: 15px;
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    gap: 30px;
    align-items: center;
  }

  .projects__card {
    border-radius: 8px;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    text-align: start;
  }

  .projects__card > a {
    display: flex;
    position: relative;
  }

  .projects__card .projects__card-web {
    width: 94%;
    height: 100%;
    border-radius: 8px;
    position: relative;
    z-index: 1;
    animation: floatP 2.5s alternate infinite ease-in-out;
    margin: auto;
    box-shadow: 5px 4px 3px 0px #0000001c;
    top: 37px;
  }

  @keyframes floatP {
    0% {
      transform: rotate3d(1, 7, 1, 357deg) translateY(-5px);
    }
    100% {
      transform: rotate3d(1, 7, 1, 362deg) translateY(-10px);
    }
  }

  .projects__card-content {
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    background: #28292d;
    border: 1px #ffffff17 solid;
    border-radius: 8px;
    padding-top: 50px;
    position: relative;
  }

  .projects__card-header,
  .projects__card-body,
  .projects__card-footer {
    padding: 0 34px;
  }

  .projects__card-footer {
    padding: 20px 0;
    border-top: solid 1px #ffffff17;
    display: flex;
    justify-content: space-around;
  }

  .projects__card-content > .projects__card-footer a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
  }

  .projects__card-tech {
    display: flex;
    flex-wrap: wrap;
    gap: 4px 3px;
    color: #cecece;
    justify-content: center;
  }

  .projects__card-tech-img span {
    width: 14px;
    height: 14px;
    display: inline-block;
  }

  .projects__card-tech-img {
    padding: 5px 12px;
    border: solid 1px #3f3f3f;
    border-radius: 15px;
    font-size: 0.7rem;
    display: flex;
    align-items: center;
    gap: 5px;
    width: max-content;
    background: linear-gradient(271deg, #ffffff12, #ffffff05);
    box-shadow: 2px 2px 3px 0px #0000001f;
  }

  .projects__card-tech img {
    width: 100%;
    height: 100%;
  }

  .projects__card-content-proyect {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .projects__card-content-proyect img {
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
  }

  .projects__card-content-title {
    text-align: center;
    margin: 0;
    margin-bottom: 0.4rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: color 0.2s ease;
    text-decoration: none;
    color: inherit;
    display: block;
  }

  .projects__card-content-title:hover {
    color: var(--color-button);
  }

  .projects__card-content-text {
    margin: auto;
    border-radius: 5px;
    max-width: 280px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 4px;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #c3c7ce;
  }

  .projects__card-content-text span {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .project-inline-link {
    color: #dfdfe7;
    text-decoration: none;
    transition: color 0.2s ease;
    font-weight: 500;
    font-size: 0.875rem;
    /* line-height: 1.25rem; */
    text-align: center;
    display: block;
    padding-top: 1px;
  }

  .project-inline-link:hover {
    color: var(--color-button);
  }
  .projects__card-content-button-deploy {
    gap: 6px;
    padding: 5px 12px 5px 10px;
    border: solid 1px #ffffff17;
    border-radius: 6px;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    width: max-content;
    background: linear-gradient(90deg, #0000001c, #00000021);
    box-shadow: 2px 2px 3px 0px #0000001f;
    margin: auto;
  }

  .projects__card-content-button-deploy:hover {
    background: linear-gradient(90deg, #00000077, #00000079);
  }

  .projects__card-content-button-github {
    gap: 6px;
    padding: 5px 12px 5px 10px;
    border-radius: 6px;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    width: max-content;
    margin: auto;
    border: solid 1px #ffffff17;
  }

  .projects__card-content-button-github:hover {
    background: linear-gradient(90deg, #00000077, #00000079);
  }

  .projects__card .buttom-icon {
    width: 14px;
    height: 14px;
  }

  .projects__card-content-button-video {
    gap: 6px;
    padding: 5px 12px 5px 10px;
    border: solid 1px #ffffff17;
    border-radius: 6px;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    width: max-content;
    background: linear-gradient(90deg, #0000001c, #00000021);
    box-shadow: 2px 2px 3px 0px #0000001f;
    margin: auto;
    cursor: pointer;
  }

  .projects__card-content-button-video:hover {
    background: linear-gradient(90deg, #00000077, #00000079);
  }

  @media screen and (max-width: 1100px) {
    .proyects__illu {
      grid-template-columns: repeat(2, minmax(250px, 1fr));
    }
  }

  @media screen and (max-width: 900px) {
    .proyects__container {
      padding: 50px 30px;
    }

    .proyects__content {
      flex-direction: column;
    }

    .proyects__illu {
      grid-template-columns: repeat(1, minmax(250px, 1fr));
    }

    .proyects__illuImg:hover {
      transform: scale(1.5);
    }

    .proyects__illuImg:nth-child(1):hover {
      transform: scale(1.2);
    }

    .projects__card-tech-img {
      font-size: 0.8rem;
    }
  }
</style>

<div class='proyects' id='proyects'>
  <div class='proyects__container'>
    <p class='proyects__title'>Proyectos</p>

    <div class='proyects__content'>
      <div class='proyects__illu'>
        {
          PROJECTS.map((r) => {
            return (
              <div class='projects__card' data-card-slug={r.slug}>
                <a
                  href='javascript:void(0)'
                  data-slug={r.slug}
                  rel='noreferrer'
                >
                  <img
                    class='projects__card-web'
                    src={r.imgWeb}
                    alt={r.title}
                  />
                </a>
                <div class='projects__card-content'>
                  <div class='projects__card-header'>
                    <div class='projects__card-tech'>
                      {r.techs.map((tech) => {
                        return (
                          <div class='projects__card-tech-img'>
                            <span>
                              <img src={tech.src} alt='' />
                            </span>
                            {tech.name}
                          </div>
                        );
                      })}
                    </div>
                  </div>

                  <div class='projects__card-body'>
                    <a
                      href='javascript:void(0)'
                      data-slug={r.slug}
                      class='projects__card-content-title'
                    >
                      {r.title}
                    </a>
                    <p class='projects__card-content-text'>
                      <span>{r.infoText}</span>{' '}
                    </p>
                    <a
                      href='javascript:void(0)'
                      data-slug={r.slug}
                      class='project-inline-link'
                    >
                      Ver más
                    </a>
                  </div>
                  <div class='projects__card-footer'>
                    {r.repository && (
                      <a href={r.repository} target='_blank' rel='noreferrer'>
                        <div class='projects__card-content-button-github'>
                          <Github class='buttom-icon' />
                          <span>GitHub</span>
                        </div>
                      </a>
                    )}

                    <a href='javascript:void(0)' data-slug={r.slug}>
                      <div class='projects__card-content-button-video'>
                        {r.video ? (
                          <>
                            <VideoIcon class='buttom-icon' />
                            <span>Video</span>
                          </>
                        ) : (
                          <>
                            <InfoIcon class='buttom-icon' />
                            <span>Información</span>
                          </>
                        )}
                      </div>
                    </a>

                    {r.demo && (
                      <a href={r.demo.url} target='_blank' rel='noreferrer'>
                        <div class='projects__card-content-button-deploy'>
                          <span>{r.demo.text}</span>
                          <svg
                            xmlns='http://www.w3.org/2000/svg'
                            width='16'
                            height='16'
                            viewBox='0 0 24 24'
                            fill='none'
                            stroke='currentColor'
                            stroke-width='2'
                            stroke-linecap='round'
                            stroke-linejoin='round'
                          >
                            <path d='M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6' />
                            <polyline points='15 3 21 3 21 9' />
                            <line x1='10' y1='14' x2='21' y2='3' />
                          </svg>
                        </div>
                      </a>
                    )}
                  </div>
                </div>
              </div>
            );
          })
        }
      </div>
    </div>
  </div>
</div>

<ProjectModal projects={PROJECTS} client:load />
